body {
    text-align: center;
    background-color: black;
}

.ttt {
    font-size: 2rem;
    font-variant: small-caps;
    background: conic-gradient(
    #dff2ae 0 25%, 
    #ff90f4 25% 50%,
    #feefe7 50% 75%
    #ffde2b 75%
    );
    background-size: 200% 200%;
    animation: animate 4.3s ease-in-out infinite;
    color: transparent;
    color: red;
    background-clip: text;
    -webkit-background-clip: text;
}

@keyframes animate {
    25% {
        background-position: 0 100%;
    }
    50% {
        background-position: 100% 100%;
    }
    75% {
        background-position: 100% 0;
    }
    100% {
        background-position: 0 0;
    }
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 40px;
}

#button1, #button2, #button3, #button4, #button5, #button6, #button7, #button8, #button9 {
    border: 1.5px solid white;
    background-color: black;
    color: white;
    padding: 80px;
    font-size: 50px;
    text-align: center;
}

#playagain {
    width: 50%;
    height: 5vmax;
    background-color: blue;
    color: white;
    font-size: xx-large;
    font-weight: bold;
}