body {
    text-align: center;
    background-color: black;
}

h1 {
    font-weight: bolder;
    font-style: italic;
    color: white;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 40px;
}

#button1 {
    border: 1.5px solid white;
    background-color: black;
    color: white;
    padding: 80px;
    font-size: 50px;
    text-align: center;
}

#button2 {
    border: 1.5px solid white;
    background-color: black;
    color: white;
    padding: 80px;
    font-size: 60px;
    text-align: center;
}

#button3 {
    border: 1.5px solid white;
    background-color: black;
    color: white;
    padding: 80px;
    font-size: 60px;
    text-align: center;
}

#button4 {
    border: 1.5px solid white;
    background-color: black;
    color: white;
    padding: 80px;
    font-size: 60px;
    text-align: center;
}

#button5 {
    border: 1.5px solid white;
    background-color: black;
    color: white;
    padding: 80px;
    font-size: 60px;
    text-align: center;
}

#button6 {
    border: 1.5px solid white;
    background-color: black;
    color: white;
    padding: 80px;
    font-size: 60px;

    text-align: center;
}

#button7 {
    border: 1.5px solid white;
    background-color: black;
    color: white;
    padding: 80px;
    font-size: 60px;
    text-align: center;
}

#button8 {
    border: 1.5px solid white;
    background-color: black;
    color: white;
    padding: 80px;
    font-size: 60px;
    text-align: center;
}

#button9 {
    border: 1.5px solid white;
    background-color: black;
    color: white;
    padding: 80px;
    font-size: 60px;
    text-align: center;
}

#button10 {
    width: 50%;
    height: 5vmax;
    color: black;
    font-size: xx-large;
    font-weight: bold;
}