body {
    text-align: center;
    background-color: black;
}

h1 {
    font-weight: bolder;
    font-style: italic;
    color: white;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 40px;
}

#button1, #button2, #button3, #button4, #button5, #button6, #button7, #button8, #button9 {
    border: 1.5px solid white;
    background-color: black;
    color: white;
    padding: 80px;
    font-size: 50px;
    text-align: center;
}

#playagain {
    width: 50%;
    height: 5vmax;
    background-color: red;
    color: white;
    font-size: xx-large;
    font-weight: bold;
}