body{
    background-color: rgb(80, 80, 80);
}

.nav-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 15px;
    background-color: rgb(61, 61, 61);
    height: 110px;
    width: 102%;
    position: relative;
    bottom: 12px;
    right: 14px;
}

.nba-icon{
    padding-left: 16px;
    height: 90px;
    width: 50px;
    border-radius: 10px;
}

.nav-container > a{
    position: absolute;
    padding-left: 87px;
    text-decoration: none;
    color: rgb(201, 196, 196);
}

.nav-container > p{
    margin-right: 120px;
    font-size: larger;
    font-weight: bolder;
    max-width: 280px;
    color: rgb(201, 196, 196);
}

.name {
    color: rgb(201, 196, 196);
}
.name-container{
    display: flex;
    align-items: center;
}

.body-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.outer-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(60, 58, 60);
    border-radius: 15px;
    position: relative;
    width: 500px;
    height: 500px;
}

.select-player-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 15px;
    font-size: xx-large;
    height: 250px;
    width: 400px;
    gap: 20px;
    background-color: rgb(55, 54, 54);
    color: rgb(201, 196, 196);
    z-index: 100;
    position: absolute;
}

#select-player{
    width: 230px;
    height: 40px;
    text-align: center;
    font-size: large;
    background-color: rgb(221, 241, 231);
    border-color: lightslategray;
    border: 1.5px solid black;
}

#select-player > option{
    text-align: center;
}

#select-button{
    width: 200px;
    height: 30px;
    background-color: lightsteelblue;
    font-size: large;
}

.about-me-section{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-container-larger-fonts{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    bottom: 20px;
}

.header-container-larger-fonts h2{
    font-weight: bold;
    font-size: 50px;
    color: rgb(201, 196, 196);
}

.header-container-larger-fonts p{
    position: relative;
    font-size: larger;
    bottom: 45px;
    color: rgb(201, 196, 196);
}

.player-image{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    bottom: 20px;
    background-color: rgb(204, 231, 231);
    width: 500px;
    height: 350px;
}

.player-image > img {
    width: 450px;
    height: 300px;
}

.buttons-container{
    display:flex;
    flex-wrap: nowrap;
}

.buttons-container > button{
   width: 200px;
   height: 50px;
   border: none;
   background-color: rgb(183, 175, 175);
   font-size: medium;
   font-family: serif;
   cursor: pointer;
}

#who-am-i-btn{
    background-color: rgb(229, 235, 229);
}

.content-container{
    display: flex;
    flex-direction: column;
    background-color: rgb(229, 235, 229);
    height: 250px;
    padding-left: 21px;
}

.content-container > p{
    font-size: large;
    position: relative;
    bottom: 20px;
    width: 500px;
}

#nba-link{
    text-decoration: none;
    color: blue;
    position: relative;
    bottom: 57px;
    left: 95px;
    
}