body{
    background-color: beige;
    margin-left: 20px;
}

.nav-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid black;
}

.nav-container p{
    margin-right: 100px;
}