body {
    text-align: center;
    background-color: black;
}
.TTT {
    color: red;
    font-size: xx-large;
    font-style: italic, bold;
    font-variant: small-caps;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 40px;
}

.grid-button
{
    border: 1.5px solid white;
    background-color: red;
    padding: 80px;
    font-size: 50px;
    font-weight: bolder;
    text-align: center;
}

#playagain {
    width: 50%;
    height: 5vmax;
    background-color: blue;
    color: white;
    font-size: xx-large;
    font-weight: bold;
}